* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

h1 {
    font-size: 2.5rem;
    text-align: center;
    margin: 2rem 0;

}

.paragrafo {

    font-size: 1.5rem;
    text-align: justify;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 0 10%;
    line-height: 2rem;
    margin-bottom: 70px;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imagem {
 
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.topicos
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
}
.li-topicos{
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: justify;
    padding: 0 10%;
    line-height: 2rem;

}

.video-abelhas{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;

}


