* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

h1 {
    font-size: 2.5rem;
    text-align: center;
    margin: 2rem 0;

}

.paragrafo {

    font-size: 1.5rem;
    text-align: justify;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 0 10%;
    line-height: 2rem;
    margin-bottom: 70px;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imagem {
 
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.topicos
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
}
.li-topicos{
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: justify;
    padding: 0 10%;
    line-height: 2rem;

}

.video-abelhas{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;

}

.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
}

.card {
    width: 30%;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.icon {
    text-align: center;
    margin-bottom: 20px;
}

.icon img {
    width: 50px;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

span {
    font-size: 1.1em;
    line-height: 1.5;
}

button {
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

.video-abelhas {
    display: block;
    margin: 0 auto;
}

